@import url();

body{
    background-image: ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

.container{
    border-radius: 10px;
    max-width: 400%;
    
}