@import url();

body{
    background-image: url();
    /*Insteramos la imagen con la url que hayamos elegido*/
    background-size: cover;
    /*De esta forma hacemos que la imagen cubra toda la pantalla*/
    background-repeat: no-repeat;
    /*Así conseguimos que no se repita la imagen*/
    background-attachment: fixed;
    /*Dejamos la imagen fija en la pantalla*/
}

p{
    color: rgb(104, 22, 139);
    font-family: '';
}

.container{
    background: rgb(166, 197, 43);
    background: radial-gradient(circle rgba(10, 20, 30, 40) 0%, rgba(50, 60, 70, 80) 100%);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 200%;
    color: rgb(73, 202, 159);
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.5);
}

.container :hover{
    color: blueviolet;
}

h2{
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    display: flex;
}